@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    background-color: #FAFAFB;
  }
}
@keyframes movingProgressBar {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(200%);
  }
}
.moving-progress-bar {
  animation: movingProgressBar 1s cubic-bezier(0.22, 0.61, 0.36, 1) infinite; 
}